<!DOCTYPE html>
<html>
<head>
  <title>Octopus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "welcome/header" %>
<%= render "welcome/menu" %>

<%= yield %>

<%= render "welcome/footer" %>

</body>
</html>
